@model dynamic

@{
    ViewData["Title"] = "Detailed order";
}

<h1>Order#: @Model.OrderId</h1>
<dt class="col-sm-2">
    Buyer
</dt>
<dd class="col-sm-10">
    @Model.Buyer
</dd>
<dt class="col-sm-2">
    Total Price
</dt>
<dd class="col-sm-10">
    @Model.Price €
</dd>

@for (int i = 0; i < Model.Items.Length; i++)
{
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Item:
            </dt>
            <dd class="col-sm-10">
                @Model.Items[i]
            </dd>
            <dt class="col-sm-2">
                Amount:
            </dt>
            <dd class="col-sm-10">
                @Model.ItemAmounts[i]
            </dd>
            <dt class="col-sm-2">
                Image:
            </dt>
            <dd class="col-sm-10">
                <img src="@Model.ItemImages[i]" style="max-width:150px;width:100%;max-height:150px;height:100%" />
            </dd>
        </dl>
    </div>
}
